<% include layout/header %>

<div class="panel panel-default left">
	<p class="left-title">分类</p>
    <p><a href="#">nodejs</a>(10)</p>
    <p><a href="#">javascript</a> (10)</p>
    <p><a href="#">javascript</a> (10)</p>
    <p><a href="#">javascript</a> (10)</p>
    <p><a href="#">javascript</a> (10)</p>
    <p><a href="#">javascript(10)</a></p>
    <p><a href="#">javascript</a></p>
    <p class="left-title">存档</p>
   	<p><a href="#">javascript</a></p>
    <p><a href="#">javascript</a></p>
    <p><a href="#">javascript</a></p>
    <p><a href="#">javascript</a></p>
</div>

<div class="panel panel-default center">
    <div class="article">
        <p class="article-title"><a href="#">this is a title</a></p>
        <p>每篇文章最多有三个标签（少于三个也可以），当点击主页左侧标签页链接时，跳转到标签页并列出所有已存在标签；当点击任意一个标签链接时，跳转到该标签页并列出所有含有该标签的文章。      首先我们来实现给文章添加标签的功能</p>
        <p class="article-footer">2011-10-10 12:12:12</p>
    </div>
    <div class="article">
        <p class="article-title"><a href="#">this is a title</a></p>
        <p>每篇文章最多有三个标签（少于三个也可以），当点击主页左侧标签页链接时，跳转到标签页并列出所有已存在标签；当点击任意一个标签链接时，跳转到该标签页并列出所有含有该标签的文章。      首先我们来实现给文章添加标签的功能</p>
        <p class="article-footer">2011-10-10 12:12:12</p>
    </div>
    <div class="article">
        <p class="article-title"><a href="#">this is a title</a></p>
        <p>每篇文章最多有三个标签（少于三个也可以），当点击主页左侧标签页链接时，跳转到标签页并列出所有已存在标签；当点击任意一个标签链接时，跳转到该标签页并列出所有含有该标签的文章。      首先我们来实现给文章添加标签的功能</p>
        <p class="article-footer">2011-10-10 12:12:12</p>
    </div>
</div>

<div class="panel panel-default right">
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
 
</div>

<% include layout/footer %>