<% include layout/header %>

<div class="min-width-1200">
<div class="panel panel-default left">
	<p class="left-title">分类</p>
    <p><a href="#">nodejs (3)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p class="left-title">归档</p>
   	<p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
    <p><a href="#">javascript (4)</a></p>
</div>

<div class="panel panel-default center">
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
    <p>Panel content</p>
 
</div>
</div>

<% include layout/footer %>