body {
    overflow-x: hidden;
}
.width-200-px {
    width: 200px;
}
.border-0 {
    border: 0;
}
.border-radius-0 {
	border-radius: 0px;
}
.margin-bottom-0 {
    margin-bottom: 0px;
}
.padding-10 {
	  padding: 10px;
}
.padding-left-50 {
	padding-left: 50px;
}
.min-width-1200 {
    min-width: 1200px;
}
.left {
    //background: #F2F2F2;
    border-top-width: 0px;
    border-bottom-width: 0px;
    width: 200px;
    //border: 0;
    border-radius: 0px;
    float: left;
    margin-top: 1px;
}
.center {
    float: left;
    width: 900px;
    margin: 30px;
    border-radius: 0px;

}
.left-panel {
	overflow-y: scroll;
    display: none;
    width: 220px;
    border: 0px;
 }
.burn-out {
    white-space:nowrap;
    color: #838383;
    background: #F2F2F2;
    height: 180px;
    font-size: 25px;
    text-align: center;
}
.burn {   
    font-size: 70px;
    //text-align: center;
}

/*二级菜单*/
.menu-second li a i{
	padding-left: 30px;
}
.menu-second li a{
    background-color: #f6f6f6;
    height: 40px;
    line-height:31px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    text-align:left;
}

