.border-radius-0 {
	border-radius: 0px;
}
.padding-10 {
	  padding: 10px;
}
.padding-left-50 {
	padding-left: 50px;
}
.left-panel {
	overflow-y: scroll;
    display: none;
    width: 220px;
 }

/*二级菜单*/
.menu-second li a i{
	padding-left: 30px;
}
.menu-second li a{
    background-color: #f6f6f6;
    height: 40px;
    line-height:31px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    text-align:left;
}

