<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>------</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/github.css" />
    </head>
<body>

    <nav class="navbar navbar-default border-radius-0 padding-10 padding-left-50" role="navigation">
        <div class="navbar-header">
            <a id="left-panel-link" href="#left-panel"><i class="fa fa-bars fa-2x"> Menu</i></a>
        </div>
    </nav>

    <!-- Left panel -->
  	<div id="left-panel" class="panel panel-default left-panel border-radius-0">
    	
    	<h2>Menu</h2>
  		
  		<div class="list-group">
  			<a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
  			<a class="list-group-item" href="#"><i class="fa fa-th-list fa-fw"></i>&nbsp; Library</a>
  			<a class="list-group-item" href="#"><i class="fa fa-weixin fa-fw"></i>&nbsp; Library</a>
  			<a class="list-group-item" href="#"><i class="fa fa-weibo fa-fw"></i>&nbsp; Library</a>
  			<a class="list-group-item" href="#"><i class="fa fa-github fa-fw"></i>&nbsp; Library</a>
  			<a class="list-group-item" href="#"><i class="fa fa-envelope fa-fw"></i>&nbsp; Library</a>
  			<a class="list-group-item" href="#"><i class="fa fa-tasks fa-fw"></i>&nbsp; Library</a>
  			<a class="list-group-item collapsed" data-toggle="collapse" href="#userMeun"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a>
  			<a class="list-group-item collapsed" data-toggle="collapse" href="#userMeun"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
		</div>

    <ul id="userMeun" class="nav nav-list collapse menu-second">
        <li><a href="#"><i class="icon-user"></i> 增加用户</a></li>
        <li><a href="#"><i class="icon-edit"></i> 修改用户</a></li>
        <li><a href="#"><i class="icon-trash"></i> 删除用户</a></li>
        <li><a href="#"><i class="icon-list"></i> 用户列表</a></li>
 
    </ul>

  	</div>


    

