<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>------</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/github.css" />
    </head>
<body>

    <nav class="navbar navbar-default border-radius-0 padding-10 padding-left-50 margin-bottom-0 border-0" role="navigation">
        <div class="navbar-header">
            <a id="left-panel-link" href="#left-panel"><i class="fa fa-bars fa-2x"> Menu</i></a>
        </div>
    </nav>

    <!-- Left panel -->
  	<div id="left-panel" class="panel panel-default left-panel border-radius-0">   	
    	<h2>Menu</h2> 		
  		<div class="list-group">
  			<a class="list-group-item" href="/"><i class="fa fa-home fa-fw"></i>主页</a>
  			<a class="list-group-item" href="/blog"><i class="fa fa-th-list fa-fw"></i>博客</a>
  			
  			<a class="list-group-item" href="#"><i class="fa fa-link fa-fw"></i>Library</a>

  			<a class="list-group-item collapsed" data-toggle="collapse" href="#author"><i class="fa fa-user fa-fw"></i>&nbsp; 关于</a>
        <ul id="author" class="nav nav-list collapse menu-second">
          <li><a class="list-group-item" href="#"><i class="fa fa-weixin">微信</i></a></li>
          <li><a class="list-group-item" href="#"><i class="fa fa-weibo">微博</i></a></li>
          <li><a class="list-group-item" href="#"><i class="fa fa-github">github</i></a></li>
          <li><a class="list-group-item" href="#"><i class="fa fa-envelope">邮箱</i></a></li>
        </ul>
		</div>

  	</div>


    

